<div class="container" id="rightColumn">

    <div class="container" id="pageHeader">
        <h2>ART</h2>
    </div>

    <img src="assets/img/drawings/numenx.jpg" loading="lazy" class="img-fluid" id="art">
    <figcaption><span style="color: hotpink">"Numen X"</span><br> drawing, 21 x 30 cm, 2013</figcaption>

    <img src="assets/img/drawings/the_stare_of_infinity.jpg" loading="lazy" class="img-fluid" id="art">
    <figcaption><span style="color: hotpink">"The stare of Infinity"</span><br> drawing, 30 x 42 cm, 2014</figcaption>

    <img src="assets/img/drawings/eyes_make_you_blind.jpg" loading="lazy" class="img-fluid" id="art">
    <figcaption><span style="color: hotpink">"Eyes Make You Blind"</span><br> drawing, 21 x 30 cm, 2012</figcaption>

    <img src="assets/img/drawings/sunyata.jpg" loading="lazy" class="img-fluid" id="art">
    <figcaption><span style="color: hotpink">"Sunyata"</span><br> drawing, 42 x 59 cm, 2015</figcaption>

    <img src="assets/img/drawings/advocatus_diabolis.jpg" loading="lazy" class="img-fluid" id="art">
    <figcaption><span style="color: hotpink">"Advocatus Diabolis"</span><br> drawing, 21 x 30 cm, 2012</figcaption>

    <img src="assets/img/drawings/maaralak.jpg" loading="lazy" class="img-fluid" id="art">
    <figcaption><span style="color: hotpink">"Maar-Alak"</span><br> drawing, 42 x 59 cm, 2015</figcaption>

    <img src="assets/img/drawings/reality_tunnel_network.jpg" loading="lazy" class="img-fluid" id="art">
    <figcaption><span style="color: hotpink">"Reality Tunnel Network"</span><br> drawing, 30 x 42 cm, 2014</figcaption>

    <img src="assets/img/drawings/phowa.jpg" loading="lazy" class="img-fluid" id="art">
    <figcaption><span style="color: hotpink">"Phowa"</span><br> drawing, 21 x 30 cm, 2013</figcaption>

    <img src="assets/img/drawings/portal.jpg" loading="lazy" class="img-fluid" id="art">
    <figcaption><span style="color: hotpink">"Portal"</span><br> 21 x 30 cm, 2013</figcaption>

    <img src="assets/img/drawings/nigredo.jpg" loading="lazy" class="img-fluid" id="art">
    <figcaption><span style="color: hotpink">"Nigredo"</span><br> drawing , 21 x 30 cm, 2013</figcaption>

</div>


