<div class="container" id="rightColumn">

    <img src="assets/img/drawings/numenx.jpg" class="img-fluid" id="art">
    <figcaption>Numen X, drawing, 21 x30 cm, 2013</figcaption>

    <img src="assets/img/drawings/the_stare_of_infinity.jpg" class="img-fluid" id="art">
    <figcaption>The stare of Infinity, drawing, 30 x 42 cm, 2014</figcaption>

    <img src="assets/img/drawings/eyes_make_you_blind.jpg" class="img-fluid" id="art">
    <figcaption>Eyes Make You Blind, drawing, 21 x 30 cm, 2012</figcaption>

</div>