<div class="container" id="rightColumn">

  <!-- <div class="container" id="pageHeader">
    <h2>About</h2>
  </div> -->

  <div class="container" >

    <div class="row" id="instagramPostWrapper" *ngIf="instagram.information" >      
      <div class="col-3" id="instagramPostWrapper2" *ngFor="let object of instagram.information">
          <!-- <span class="helper"></span>  --> 
          <img src="{{ object.images.standard_resolution.url }}" id="instagramPost">
      </div>
    </div>
     
 
    <div class="row">

      <div class="col-12" style="text-align: center; color: red">

        <div class="mt-1">

        
          
        </div>
      </div>
    </div>
  </div>

</div>


