<div class="container" id="rightColumn">

  <div class="container" id="form">

    <div class="container" id="pageHeader">
      <h2>CONTACT</h2>
    </div>


    <div class="card" id="introText">
        <div class="container" id="bodytext">
            <h6>If you have a question or you just want to say hi, you can do it right here!</h6>
        </div>
    </div>

    

    <br><br><br>

    <form>
      <input type="text" name="name" placeholder="Name"><br>
      <input type="email" name="email" placeholder="email"><br>
      <input type="textarea" name="message" placeholder="Message"><br>

    </form>

  </div>

</div>