<div class="container" id="rightColumn">
  
    <div class="container" id="pageHeader">
        <h2>About Me</h2>
    </div>
  

  <div class="container" id="curriculum">
    <div class="row mt-3">  
    </div>

    <div class="card mt-3" style="border: none" id="cvcard">
        <div class="col-12 mb-4">
          <img src="assets/img/profilepic.png" class="img-fluid" id="profilepic3">
        </div>
        <h5>Hi, my name is Ville Pajala And I'm working hard to become a outstanding software developer</h5>
    
        <p>I've done different things over the years. I have studied fine art for the best part of my 
          educational life - all the way to a master’s degree. I have also studied Chinese medicine, graphic design and 
          sound design. Despite all the cool stuff eralier, discovering programming a few years ago was probably 
          the most important one.
        </p>
        <p>I absolutely love coding and enjoy the theoretical fact that you can build almost anything imaginable. 
          I feel I can now bring all my skills together with my still humble software development skills. 
        </p>
        <p>I am looking for a great internship opportunities in software engineering for the autumn 2019. 
        </p>
        
      </div>

    <div class="container">
      <div id="accordion">
          
        <div class="">
          <img src="assets/img/cv/skillsbanner.png"  data-toggle="collapse" data-target="#collapseOne" class="img-fluid" id="music">
          <div id="collapseOne" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div class=" card" id="cvcard">
                    <div class="row" style="text-align: center">
                      <div class="col">
                        <p>JavaScript</p>
                      </div>
                      <div class="col">
                        <p>TypeScript</p>
                      </div>
                      <div class="col">
                        <p>Angular</p>
                      </div>
                      <div class="col">
                        <p>Node.js</p>
                      </div>
                    </div>
                    <div class="row mt-4" style="text-align: center">
                      <div class="col">
                        <p>Photoshop</p>
                      </div>
                      <div class="col">
                        <p>InDesign</p>
                      </div>
                      <div class="col">
                        <p>Illustrator</p>
                      </div>
                      <div class="col">
                        <p>Unity 3D</p>
                      </div>
                    </div> 
                  </div>
                </div>
              </div>            
            </div>
          </div>
        </div>
        <div class="">
          <div class="">
            <img src="assets/img/cv/educationbanner.png"  data-toggle="collapse" data-target="#collapseTwo" class="img-fluid" id="music">
            <div id="collapseTwo" class="collapse" style="text-align: center" data-parent="#accordion">
              <div class="card mt-3" id="cvcard">
                <h6>South-Eastern Finland University of Applied Sciences</h6>
                <h6>Computer science BBA  </h6> 
                <p>2017 - 2020</p>
              </div>
              <div class="card mt-3" id="cvcard">
                <h5>Taoist Neijing school Finland</h5>
                <h6>Therapist, Traditional Chinese Medicine</h6> 
                <p>2009 - 2011</p>
              </div>
              <div class="card mt-3" id="cvcard">
                <h5>Saimaa University of Applied Sciences</h5>
                <h6>Master of Fine Art MFA</h6> 
                <p>2009 - 2011</p>
              </div>
              <div class="card mt-3" id="cvcard">
                <h5>Saimaa University of Applied Sciences</h5>
                <h6>Bachelor of Arts BBA</h6> 
                <p>2000 - 2004</p>
              </div>
            </div>
        </div>
        <div class="">
          <img src="assets/img/cv/experiencebanner.png"  data-toggle="collapse" data-target="#collapseThree" class="img-fluid" id="music">

          <div id="collapseThree" class="collapse" data-parent="#accordion">
        
            <div class="card mt-3" id="cvcard">
              <h5>Study Leave</h5>
              <h6>Computer Science studies</h6> 
              <p>2017 - 2019</p>
            </div>

            <div class="card mt-3" id="cvcard">
              <h5>Satori Books</h5>
              <h6>Graphic Designer</h6> 
              <p>2016 - 2017</p>
            </div>

            <div class="card mt-3" id="cvcard">
              <h5>Osuuskunta Satoria</h5>
              <h6>Vice Chairman</h6> 
              <p>2013 - 2017</p>
            </div>
        
            <div class="card mt-3" id="cvcard">
              <h5>Antell Oy</h5>
              <h6>Kitchen staff</h6> 
              <p>2016 - 2017</p>
            </div>

            <div class="card mt-3" id="cvcard">
              <h5>Mannerheiminaukion kulttuuriravintola Oy</h5>
              <h6>Assistant Restaurant Manager / Ateneum</h6> 
              <p>2015 - 2016</p>
            </div>

            <div class="card mt-3" id="cvcard">
              <h5>Toothpicks and Honey Oy</h5>
              <h6>Dining Room Manager / Murkina</h6> 
              <p>2014 - 2015</p>
            </div>

            <div class="card mt-3" id="cvcard">
              <h5>Toothpicks and Honey Oy</h5>
              <h6>Dining Room Manager / Murkina</h6> 
              <p>2014 - 2015</p>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>

</div>



