<div class="container" id="rightColumn">
  
    <div class="container" id="pageHeader">
        <h2>Curriculum vitae</h2>
    </div>
  

  <div class="container" id="curriculum">
  
    <div class="row mt-3">
      
      <div class="col-6 mt-2" style="text-align: left;">
        <p>Ville Pajala<br>
        13.2.1980<br>
        Omenarinne 7<br>
        01390 Vantaa<br>
        valoraami@gmail.com<br>
        +358 40 775 6545</p>
      </div>

      <div class="col-1">
        
        </div>

      <div class="col-5">
        <img src="assets/img/profilepic.png" class="img-fluid" id="profilepic2">
      </div>

      <div class="col-1">
        
      </div>

    </div>

    <div class="row">

      <div class="col-12">
        <h4 class="mt-3">Top Skills</h4>

        <div class="card mt-3" id="cvcard">

          <div class="row" style="text-align: center">

            <div class="col">
              JavaScript
            </div>
            <div class="col">
              Angular 7
            </div>
            <div class="col">
              Node.js
            </div>

          </div>

          <div class="row mt-4" style="text-align: center">

            <div class="col">
              Photoshop
            </div>
            <div class="col">
              InDesign
            </div>

            <div class="col">
              Illustrator
            </div>

          </div> 
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-6">
        <h4 class="mt-5">Education</h4>

        <div class="card mt-3" id="cvcard">
          <h5>South-Eastern Finland University of Applied Sciences</h5>
          <h6>Computer science BBA</h6> 
          <p>2017 - 2020</p>
        </div>

        <div class="card mt-3" id="cvcard">
          <h5>Taoist Neijing school Finland</h5>
          <h6>Therapist, Traditional Chinese Medicine</h6> 
          <p>2009 - 2011</p>
        </div>
    
        <div class="card mt-3" id="cvcard">
          <h5>Saimaa University of Applied Sciences</h5>
          <h6>Master of Fine Art MFA</h6> 
          <p>2009 - 2011</p>
        </div>

        <div class="card mt-3" id="cvcard">
          <h5>Saimaa University of Applied Sciences</h5>
          <h6>Bachelor of Arts BBA</h6> 
          <p>2000 - 2004</p>
        </div>

      </div>

      <div class="col-6">
        <h4 class="mt-5">Experience</h4>

        <!-- <div class="card mt-3" id="cvcard">
          <h5>Äännekoulu</h5>
          <h6>Technical support</h6> 
          <p>2019 - </p>
        </div> -->
    
        <div class="card mt-3" id="cvcard">
          <h5>Satori Books</h5>
          <h6>Graphic Designer</h6> 
          <p>2016 - 2017</p>
        </div>

        <div class="card mt-3" id="cvcard">
          <h5>Osuuskunta Satoria</h5>
          <h6>Vice Chairman</h6> 
          <p>2013 - 2017</p>
        </div>
    
        <div class="card mt-3" id="cvcard">
          <h5>Antell Oy</h5>
          <h6>Kitchen staff</h6> 
          <p>2016 - 2017</p>
        </div>

        <div class="card mt-3" id="cvcard">
          <h5>Mannerheiminaukion kulttuuriravintola Oy</h5>
          <h6>Assistant Restaurant Manager / Ateneum</h6> 
          <p>2015 - 2016</p>
        </div>

        <div class="card mt-3" id="cvcard">
          <h5>Toothpicks and Honey Oy</h5>
          <h6>Dining Room Manager / Murkina</h6> 
          <p>2014 - 2015</p>
        </div>

        <div class="card mt-3" id="cvcard">
          <h5>Toothpicks and Honey Oy</h5>
          <h6>Dining Room Manager / Murkina</h6> 
          <p>2014 - 2015</p>
        </div>

          
      </div>

    </div>
  </div>

</div>



