<div class="container" id="rightColumn">

  <div class="container" id="pageHeader">
    <h2>WELCOME!</h2>
  </div>

  <div class="container">
    <img src="assets/img/profilepic.png" class="img-fluid" id="profilepic3">
  </div>

  <br>
  <br>
  
  <p id="introduction">Ville Pajala is a Junior web developer, Master of arts and a hobbyist music producer. 
      He enjoys creating content and building things in digital format.
  </p>

  <p id="introduction">With a strong background in visual arts, music and excellent customer service abilities combined
      with a deep love of software engineering makes him a all-round creative able to build amazing stuff.
  </p>

  <div class="container" style="text-align: center">
    <a href="assets/pdf/Ville Pajala CV_2019.pdf" target="_blank">
      <button class="btn btn-info btn-md mr-1">Open CV</button>
    </a>

    <a href="assets/pdf/Ville Pajala CV_2019.pdf" target="_blank" download>
      <button class="btn btn-info btn-md mr-1">Download CV</button>
    </a>
  </div>
   
  
</div>
    
 
        

        
        

      <!--
    <div class="container">
      <div id="accordion">
          
        <div class="">
          <img src="assets/img/cv/skillsbanner.png"  data-toggle="collapse" data-target="#collapseOne" class="img-fluid" id="music">
          <div id="collapseOne" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div class=" card" id="cvcard">
                    <div class="row" style="text-align: center">
                      <div class="col">
                        <p>JavaScript</p>
                      </div>
                      <div class="col">
                        <p>TypeScript</p>
                      </div>
                      <div class="col">
                        <p>Angular</p>
                      </div>
                      <div class="col">
                        <p>Node.js</p>
                      </div>
                    </div>
                    <div class="row mt-4" style="text-align: center">
                      <div class="col">
                        <p>Photoshop</p>
                      </div>
                      <div class="col">
                        <p>InDesign</p>
                      </div>
                      <div class="col">
                        <p>Illustrator</p>
                      </div>
                      <div class="col">
                        <p>Unity 3D</p>
                      </div>
                    </div> 
                  </div>
                </div>
              </div>            
            </div>
          </div>
        </div>
        <div class="">
          <div class="">
            <img src="assets/img/cv/educationbanner.png"  data-toggle="collapse" data-target="#collapseTwo" class="img-fluid" id="music">
            <div id="collapseTwo" class="collapse" style="text-align: center" data-parent="#accordion">
              <div class="card mt-3" id="cvcard">
                <h6>South-Eastern Finland University of Applied Sciences</h6>
                <h6>Computer science BBA  </h6> 
                <p>2017 - 2020</p>
              </div>
              <div class="card mt-3" id="cvcard">
                <h5>Taoist Neijing school Finland</h5>
                <h6>Therapist, Traditional Chinese Medicine</h6> 
                <p>2009 - 2011</p>
              </div>
              <div class="card mt-3" id="cvcard">
                <h5>Saimaa University of Applied Sciences</h5>
                <h6>Master of Fine Art MFA</h6> 
                <p>2009 - 2011</p>
              </div>
              <div class="card mt-3" id="cvcard">
                <h5>Saimaa University of Applied Sciences</h5>
                <h6>Bachelor of Arts BBA</h6> 
                <p>2000 - 2004</p>
              </div>
            </div>
        </div>
        <div class="">
          <img src="assets/img/cv/experiencebanner.png"  data-toggle="collapse" data-target="#collapseThree" class="img-fluid" id="music">

          <div id="collapseThree" class="collapse" data-parent="#accordion">
        
            <div class="card mt-3" id="cvcard">
              <h5>Study Leave</h5>
              <h6>Computer Science studies</h6> 
              <p>2017 - 2019</p>
            </div>

            <div class="card mt-3" id="cvcard">
              <h5>Satori Books</h5>
              <h6>Graphic Designer</h6> 
              <p>2016 - 2017</p>
            </div>

            <div class="card mt-3" id="cvcard">
              <h5>Osuuskunta Satoria</h5>
              <h6>Vice Chairman</h6> 
              <p>2013 - 2017</p>
            </div>
        
            <div class="card mt-3" id="cvcard">
              <h5>Antell Oy</h5>
              <h6>Kitchen staff</h6> 
              <p>2016 - 2017</p>
            </div>

            <div class="card mt-3" id="cvcard">
              <h5>Mannerheiminaukion kulttuuriravintola Oy</h5>
              <h6>Assistant Restaurant Manager / Ateneum</h6> 
              <p>2015 - 2016</p>
            </div>

            <div class="card mt-3" id="cvcard">
              <h5>Toothpicks and Honey Oy</h5>
              <h6>Dining Room Manager / Murkina</h6> 
              <p>2014 - 2015</p>
            </div>

            <div class="card mt-3" id="cvcard">
              <h5>Toothpicks and Honey Oy</h5>
              <h6>Dining Room Manager / Murkina</h6> 
              <p>2014 - 2015</p>
            </div>
          </div>
        </div>
        
      </div>
    </div> -->
 


