<div class="container" id="frame">

  

  <div class="row">

    <div class="col-md-4">
        <div class="container" id="header">
            <div style="text-align:center">
              <a routerLink=""> <h1>
                Ville Johannes Pajala
              </h1></a>

              <h5>
                <a routerLink="art">Drawings</a>
              </h5>
            </div>
          </div>
    </div>

    <div class="col-md-8">
        <router-outlet></router-outlet>
    </div>

  </div>

</div>
