<div class="container" id="frame">

  

  <div class="row">

    <div class="col-md-4" id="leftColumn">
        <div class="container mt-5" id="header">
            <div style="text-align:center">
              <a routerLink=""> <h1>
                Ville Johannes Pajala
              </h1></a>

              <h6 class="mt-5"><a routerLink="art"> Art </a></h6>
              <h6 class="mt-3"><a routerLink="music"> Music </a></h6>
              <h6 class="mt-3"><a routerLink="design"> Graphic Design </a></h6>
              <h6 class="mt-3"><a routerLink="games"> Games </a></h6>  
              <h6 class="mt-3"><a routerLink="code"> Software Dev </a></h6>  
              <h6 class="mt-3"><a routerLink="curriculum"> CV </a></h6>  
              <h6 class="mt-3"><a routerLink="contact"> Contact </a></h6>  
                
            </div>
          </div>
    </div>

    <div class="col-md-8">
        <router-outlet></router-outlet>
    </div>

  </div>

</div>
