<div class="container" id="rightColumn">

  <div class="container" id="pageHeader">
    <h2>Code</h2>
  </div>

  <div id="accordion">

    <div class="">
      <div class="mb-2">
        <div class="row">
          <div class="col-12 d-none d-sm-block">
            <img src="assets/img/dev/angular3.png"  data-toggle="collapse" data-target="#collapseOne" class="img-fluid" style="cursor: pointer">
          </div>
          <div class="col-12 d-block d-sm-none">
            <img src="assets/img/dev/angular2.png"  data-toggle="collapse" data-target="#collapseOne" class="img-fluid" style="cursor: pointer">
          </div>
        </div>
      </div>
      <div id="collapseOne" class="collapse" data-parent="#accordion">
        <div class="card-body">

          <div id="subAccordion1">
            <div class="">
              <div class="">
                <h6 style="cursor: pointer" data-toggle="collapse" data-target="#collapseNgOne">Personal Portfolio Site</h6>
              </div>
              <div id="collapseNgOne" class="collapse" data-parent="#subAccordion1">
                <div class="card-body mb-3" id="devItem">
                  <div class="mb-4">
                    <img src="assets/img/dev/portfolio.png" class="img-fluid" id="dev">
                  </div>

                  <div id="devText">
                    
                    <h5>You are just using this web app!</h5>
                    
                      <p id="textIndent"><b>features:</b><br>
                        
                        * Fully Responsive - optimized for different screen sizes<br>
                        * Animated menus<br>
                        * Animated page load<br>
                        * Menu shows active page with an icon<br>
                        * some page's content is displayed as an accordion for easier navigation<br>
                      </p>

                    <p id="textIndent2">Made with <span style="color: hotpink"> Angular 7, 
                      TypeScript, JavaScript ES6, HTML, CSS and Bootstrap 4</span> and it runs on <span style="color: hotpink">Heroku.</span></p><br>
                  </div>
                
                  <div class="col-12 mb-1">
                    <a href="https://github.com/VillePajala/Professional-portfolio-site-with-angular" target="_blank">
                      <button class="btn btn-info btn-sm">See in GitHub</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="">
              <div class="">
                <h6 style="cursor: pointer" data-toggle="collapse" data-target="#collapseNgTwo" class="img-fluid">Currency Converter</h6>
              </div>
              <div id="collapseNgTwo" class="collapse" data-parent="#subAccordion1">
                <div class="card-body mb-3" id="devItem">
                  <div class="mb-4">
                    <img src="assets/img/dev/currencyconverter.png" class="img-fluid" id="dev">
                  </div>

                  <div id="devText">

                    <h5>A small app to convert between any currencies noted ny the Europan Central bank</h5>

                    <p id="textIndent"><b>features:</b><br>
                      
                      * Most recent exchange rates from <i><a href="https://exchangeratesapi.io/">Exchangerapi.io</a></i><br>
                      * User can select a base currency from which the rates are fetched<br>
                      * User can select the currency he/she want's to convert to (current rates are shown in real time)<br>
                      * User can input the amount that he/she want's to convert<br>
                      * The app calulates the amount and shows the currency code<br>
                    </p><br>

                    <p id="textIndent2">SMade with<span style="color: hotpink"> Angular 7, 
                      TypeScript, JavaScript ES6, HTML, CSS and Bootstrap 4</span>.<br><br>
                      As this was a school project, I only have permission to show the source code in recruitment related cases.</p><br>
                  </div>
                
                  <div class="col-12 mb-1">
                      <button style="opacity: 0.6; cursor: not-allowed;" class="btn btn-info btn-sm">See in GitHub</button>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="">
              <div class="">
                <h6 style="cursor: pointer" data-toggle="collapse" data-target="#collapseNgThree" class="img-fluid">Debt Calculator</h6>
              </div>
              <div id="collapseNgThree" class="collapse" data-parent="#subAccordion1">
                <div class="card-body mb-3" id="devItem">
                  <div class="mb-4">
                    <img src="assets/img/dev/debtcalculator.png" class="img-fluid" id="dev">
                  </div>

                  <div id="devText">
                    <h5>Debt Manager is a small app to keep record of personal debt</h5>

                    <p id="textIndent"><b>features:</b><br>
                        
                      * User can add individual debts he/she is owed and by whom<br>
                      * User can add individual debts he/she ows and to whom<br>
                      * Total amount of debts to pay, debts to get and total sum of both combined<br>
                    </p>

                    <p id="textIndent2">Made with<span style="color: hotpink"> Angular 7, 
                      TypeScript, JavaScript ES6, HTML, CSS and Bootstrap 4</span>.<br><br>
                      As this was a school project, I only have permission to show the source code in recruitment related cases.</p><br>
                  </div>
                
                  <div class="col-12 mb-1">
                    <button style="opacity: 0.6; cursor: not-allowed;" class="btn btn-info btn-sm">See in GitHub</button>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="">
              <div class="">
                <h6 style="cursor: pointer" data-toggle="collapse" data-target="#collapseNgFour" class="img-fluid">BMI Calculator</h6>
              </div>
              <div id="collapseNgFour" class="collapse" data-parent="#subAccordion1">
                <div class="card-body mb-3" id="devItem">
                  <div class="mb-4">
                    <img src="assets/img/dev/bmicalculator.png" class="img-fluid" id="dev">
                  </div>

                  <div id="devText">

                    <h5>This is a small app for calulating body mass index.</h5>

                    <p id="textIndent"><b>features:</b><br>
              
                      * User gives his/her height and weight<br>
                      * The application returns BMI as numeric value<br>
                      * The application returns BMI as text value based on weight classifications<br>
                    </p>

                    <p id="textIndent2"> Made with<span style="color: hotpink"> Angular 7, 
                      TypeScript, JavaScript ES6, HTML, CSS and Bootstrap 4</span>.<br><br>
                      As this was a school project, I only have permission to show the source code in recruitment related cases.</p><br>
                  </div>
                
                  <div class="col-12 mb-1">
                    <button style="opacity: 0.6; cursor: not-allowed;" class="btn btn-info btn-sm">See in GitHub</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
            
        </div>
      </div>
    </div>
  
    <div class="">
      <div class="mb-2">
        <div class="row">
          <div class="col-12 d-none d-sm-block">
            <img src="assets/img/dev/nodejs2.png"  data-toggle="collapse" data-target="#collapseTwo" class="img-fluid" id="codeBanner">
          </div>
          <div class="col-12 d-block d-sm-none">
            <img src="assets/img/dev/nodejs.png"  data-toggle="collapse" data-target="#collapseTwo" class="img-fluid" id="codeBanner">
          </div>
        </div>
      </div>
      <div id="collapseTwo" class="collapse" data-parent="#accordion">
        <div class="card-body">

          <div id="subAccordion2">

            <div class="">
              <div class="">
                <h6 style="cursor: pointer" data-toggle="collapse" data-target="#collapseNodeZero" class="img-fluid">Programmer's Tool Pack</h6>
              </div>
              <div id="collapseNodeZero" class="collapse" data-parent="#subAccordion2">
                <div class="card-body mb-3" id="devItem">
                  <div class="mb-4">
                    <img src="assets/img/dev/ptp.png" class="img-fluid" id="dev">
                  </div>

                  <div id="devText">
                      <h5>User Access Manager is a web app that manages user access rights.</h5>
                        
                      <p id="textIndent"><b>features:</b><br>
                      
                      * The front page shows latest news from TechCrunh<br>
                      * User can register and / or login to the service<br>
                      * In Registeration, the new user is saved to the database<br>
                      * Passwords are automatically crypted (SHA512)<br>
                      * If user chooses, he/she can stay logged (session is remembered for 7 days)<br>
                      * If logged in, user can search TechCrunch news with any search word<br>
                      * API calls cannot be manipulated from url<br>
                      * Logged in User can access the tool for listing possible internship organisations<br>
                      * List data is saved to database for registered user to add, modify and delete his/her own data<br>
                      * Database queries are protected from SQL injections</p><br>

                    <p id="textIndent2">Made with<span style="color: hotpink"> Nodejs, Express.js, EJS, MySql, JavaScript ES6, HTML, CSS, Bootstrap 4</span>.<br><br>
                    </p>
                  </div>
                
                  <div class="col-12 mb-1">
                    <a href="https://github.com/VillePajala/programmers-tool-pack-node.js" target="_blank">
                      <button class="btn btn-info btn-sm">See in GitHub</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="">
              <div class="">
                <h6 style="cursor: pointer" data-toggle="collapse" data-target="#collapseNodeOne" class="img-fluid">User Data Manager (REST API)</h6>
              </div>
              <div id="collapseNodeOne" class="collapse" data-parent="#subAccordion2">
                <div class="card-body mb-3" id="devItem">
                  <div class="mb-4">
                    <img src="assets/img/dev/restapi.png" class="img-fluid" id="dev">
                  </div>

                  <div id="devText">
                    <h5>A REST API back-end for a Angular client to manage user data in a database.</h5>
                      
                    <p id="textIndent"><b>features:</b><br>
                    
                    * User daata in the database can be added, read, modified and deleted (CRUD)<br>
                    * Passwords are automatically crypted (SHA512)<br>
                    * Database queries are protected from SQL injections</p><br>

                    <p id="textIndent">Made with<span style="color: hotpink"> Nodejs, JavaScript ES6, MySQL</span>.<br><br>
                      As this was a school project, I only have permission to show the source code in recruitment related cases.</p>
                  </div>
                
                  <div class="col-12 mb-1">
                    <button style="opacity: 0.6; cursor: not-allowed;" class="btn btn-info btn-sm">See in GitHub</button>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="">
              <div class="">
                <h6 style="cursor: pointer" data-toggle="collapse" data-target="#collapseNodeTwo" class="img-fluid">User access Manager</h6>
              </div>
              <div id="collapseNodeTwo" class="collapse" data-parent="#subAccordion2">
                <div class="card-body mb-3" id="devItem">
                  <div class="mb-4">
                    <img src="assets/img/dev/useraccessmanager.png" class="img-fluid" id="dev">
                  </div>

                  <div id="devText">
                    <h5>User Access Manager is a app that manages user access rights</h5>
                        
                    <p id="textIndent"><b>features:</b><br>
                    
                    * User can register an username and a password<br>
                    * After registration the user can log in to the site<br>
                    * If user chooses, he/she can stay logged (session is remembered for 7 days)<br>
                    * Username and password are saved to server for future use<br>
                    * Passwords are automatically crypted (SHA512)<br>
                    * Password verification is done by comparing SHA512 -hashes (only the registrar can know the actual password)<br>
                    * After login, the user can use a rich text editor to comment on specific news<br>
                    * Comments posted under the article<br>
                    * Data of the comments are saved (the comment, commenter's username, timestamp, id of the commented article and an ID) to server<br>
                    * User may delete his/her comments<br>
                    * The news site can be still read without login (commenting requires login)<br>
                    * All database queries are protected from SQL injections</p><br>

                     <p id="textIndent2">Made with<span style="color: hotpink"> Nodejs, Express.js, EJS, JavaScript ES6, MySQL, HTML, CSS and Bootstrap4</span>.<br><br>
                      As this was a school project, I only have permission to show the source code in recruitment related cases.</p>
                  </div>
                
                  <div class="col-12 mb-1">
                    <button style="opacity: 0.6; cursor: not-allowed;" class="btn btn-info btn-sm">See in GitHub</button>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="">
              <div class="">
                <h6 style="cursor: pointer" data-toggle="collapse" data-target="#collapseNodeThree" class="img-fluid">Simple Blog Writer</h6>
              </div>
              <div id="collapseNodeThree" class="collapse" data-parent="#subAccordion2">
                <div class="card-body mb-3" id="devItem">
                  <div class="mb-4">
                    <img src="assets/img/dev/blogwriter.png" class="img-fluid" id="dev">
                  </div>

                  <div id="devText">
                    <h5>A simple web app for writing, reading, liking and disliking blog posts.</h5>
                        
                    <p id="textIndent"><b>features:</b><br>
                    
                    * User can read and like or dislike blog posts<br>
                    * User can write a post with rich text editor<br>
                    * User can delete a blog post<br>
                    * Blog reading and blog writing accessed from different urls</p><br>

                    <p id="textIndent2">Made with<span style="color: hotpink"> Nodejs, Express.js, EJS, JavaScript ES6, HTML, CSS and Bootstrap 4</span>.<br><br>
                    As this was a school project, I only have permission to show the source code in recruitment related cases.</p>
                  </div>
                
                  <div class="col-12 mb-1">
                    <button style="opacity: 0.6; cursor: not-allowed;" class="btn btn-info btn-sm">See in GitHub</button>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="">
              <div class="">
                <h6 style="cursor: pointer" data-toggle="collapse" data-target="#collapseNodeFour" class="img-fluid">Movie data search engine</h6>
              </div>
              <div id="collapseNodeFour" class="collapse" data-parent="#subAccordion2">
                <div class="card-body">
                  <div class="card-body mb-3" id="devItem">
                    <div class="mb-4">
                      <img src="assets/img/dev/moviesearch.png" class="img-fluid" id="dev">
                    </div>
  
                    <div id="devText">
                      <h5>A Node.js program to find movie info from database based on various search criteria</h5>
                          
                      <p id="textIndent"><b>features:</b><br>
                      
                      * User can use search words<br>
                      * User can choose if the search word is applied to movie titles, directors or actors<br>
                      * Search results can be filter by a movie category (one or more)<br>
                      * User can filter search results by defining a value range based on year of production<br>
                      * If no filtering is applied, a search word mord than two characters is required<br>
                      * And vice versa, if results are filtered by category or year of production, no search word is required<br>
                      * Maximum of ten results are shown at a time. User is asked to apply more detaild search criteria, if the search return more than 10 hits<br>
                      * Results can be sorted in ascending or descending order either by name or year of production<br>
                      * User can choose the amount of results to show. 10, 25, 50 or 100<br>
                      * All filtering work together<br>
                      * All database queries are protected from SQL injections<br>
                      * fully responsive web design</p><br>
  
                      <p id="textIndent2">Made with<span style="color: hotpink"> Nodejs, Express.js, EJS, JavaScript ES6, MySQL, HTML, CSS and Bootstrap 4</span>.<br><br>
                      As this was a school project, I only have permission to show the source code in recruitment related cases.</p>
                    </div>
                  
                    <div class="col-12 mb-1">
                      <button style="opacity: 0.6; cursor: not-allowed;" class="btn btn-info btn-sm">See in GitHub</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="">
              <div class="">
                <h6 style="cursor: pointer" data-toggle="collapse" data-target="#collapseNodeFive" class="img-fluid">News Aggregator (RSS)</h6>
              </div>
              <div id="collapseNodeFive" class="collapse" data-parent="#subAccordion2">
                <div class="card-body mb-3" id="devItem">
                  <div class="mb-4">
                    <img src="assets/img/dev/newsfeed.png" class="img-fluid" id="dev">
                  </div>

                  <div id="devText">
                    <h5>A Node.js app to show content of various news feeds (RSS)</h5>
                        
                    <p id="textIndent"><b>features:</b><br>
                    
                      * The app shows news items<br>
                      * News are compiled from three separate rss-feed sources (Yle, Helsingin sanomat, Iltalehti)<br>
                      * News are in order - the most recent shown first<br>
                      * 10 news are shown at a time<br>
                      * News are updated when the feed is updated<br>
                      * fully responsive web desing<br>
                      * The data arrays are processed and limited to maximize speed</p><br>

                    <p id="textIndent2">Made with<span style="color: hotpink"> Nodejs, Express.js, EJS, JavaScript ES6, HTML, CSS and Bootstrap 4</span>.<br><br>
                    As this was a school project, I only have permission to show the source code in recruitment related cases.</p>
                  </div>
                
                  <div class="col-12 mb-1">
                    <button style="opacity: 0.6; cursor: not-allowed;" class="btn btn-info btn-sm">See in GitHub</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="">
              <div class="">
                <h6 style="cursor: pointer" data-toggle="collapse" data-target="#collapseNodeSix" class="img-fluid">Pedometer data visualizer</h6>
              </div>
              <div id="collapseNodeSix" class="collapse" data-parent="#subAccordion2">
                <div class="card-body mb-3" id="devItem">
                  <div class="mb-4">
                    <img src="assets/img/dev/pedometer.png" class="img-fluid" id="dev">
                  </div>

                  <div id="devText">
                    <h5>A Node.js app to show content of various news feeds (RSS)</h5>
                        
                    <p id="textIndent"><b>features:</b><br>
                    
                    * User can uploads a .csv or .json file that contains pedometer data<br>
                    * The App handles the file and shows the data as a html table<br>
                    * The app calculates mean average of steps per day<br>
                    * public -folder contains test files to test the app. Test files are in .csv and in .json format<br>
                    * Ther is also intentionally corrupted files to test error handling</p><br>

                    <p id="textIndent2">Made with<span style="color: hotpink"> Nodejs, Express.js, EJS, JavaScript ES6, HTML, CSS and Bootstrap 4</span>.<br><br>
                    As this was a school project, I only have permission to show the source code in recruitment related cases.</p>
                  </div>
                
                  <div class="col-12 mb-1">
                    <button style="opacity: 0.6; cursor: not-allowed;" class="btn btn-info btn-sm">See in GitHub</button>
                  </div>
                </div>
              </div>
            </div>          

        </div>
      </div>
    </div>
  
    <div class="">
      <div class="mb-2">
        <div class="row">
          <div class="col-12 d-none d-sm-block">
            <img src="assets/img/dev/ionic3.png"  data-toggle="collapse" data-target="#collapseThree" class="img-fluid" style="cursor: pointer">
          </div>
          <div class="col-12 d-block d-sm-none">
            <img src="assets/img/dev/ionic2.png"  data-toggle="collapse" data-target="#collapseThree" class="img-fluid" style="cursor: pointer">
          </div>
        </div>
      </div>
      <div id="collapseThree" class="collapse" data-parent="#accordion">
        <div class="card-body">


          <div id="subAccordion3">

            <div class="">
              <div class="">
                <h6 style="cursor: pointer" data-toggle="collapse" data-target="#collapseIonOne" class="img-fluid">Weather app</h6>
              </div>
              <div id="collapseIonOne" class="collapse" data-parent="#subAccordion3">
                <div class="card-body mb-3" id="devItem">
                  <div class="mb-4">
                    <img src="assets/img/dev/weatherapp.png" style="width: 200px" class="img-fluid" id="dev">
                  </div>

                  <div id="devText">
                    <h5>A mobile (hybrid) weather app made with Ionic.</h5>
                        
                    <p id="textIndent"><b>features:</b><br>
                    
                    * User can set a city for the Open Weather Map -api<br>
                    * The app shows current weather and details on a dedicated tab<br>
                    * A 5-day weather forecast is show on a dedicated tab<br>
                    * The app notifies if a city cannot be found<br>
                    * The app remembers last succesful data search</p><br>

                    <p id="textIndent2">Made with<span style="color: hotpink">Ionic 4, TypeScript, JavaScript ES6, HTML, CSS</span>.<br><br>
                    As this was a school project, I only have permission to show the source code in recruitment related cases.</p>
                  </div>
                
                  <div class="col-12 mb-1">
                    <button style="opacity: 0.6; cursor: not-allowed;" class="btn btn-info btn-sm">See in GitHub</button>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="">
              <div class="">
                <h6 style="cursor: pointer" data-toggle="collapse" data-target="#collapseIonTwo" class="img-fluid">Contract Evaluator</h6>
              </div>
              <div id="collapseIonTwo" class="collapse" data-parent="#subAccordion3">
                <div class="card-body mb-3" id="devItem">
                    <div class="mb-4">
                    <img src="assets/img/dev/salarycalculator.png" style="width: 350px" class="img-fluid" id="dev">
                  </div>

                  <div id="devText">
                    <h6>A mobile (hybrid) app to calculate contract's net worth after taxes, reductions and benefits</h6>
                        
                    <p id="textIndent"><b>features:</b><br>
                    
                    * User can input monthly gross salary<br>
                    * Program calculates an estimate of the tax rate which the user would have with input salary<br>
                    * Program calculates the monthly net salary<br>
                    * User can save the calculation with a name id<br>
                    * All saved items are displayed in a separate tab sorted by net value</p><br>

                    <p id="textIndent2">Made with<span style="color: hotpink">Ionic 4, TypeScript, JavaScript ES6, HTML, CSS</span>.<br><br>
                    and it runs on <span style="color: hotpink">Heroku </span>for the time being</p>
                  </div>
                
                  <a href="https://github.com/VillePajala/ionic-contract-of-employment-evaluator" target="_blank">
                    <button class="btn btn-info btn-sm">See in GitHub</button>
                  </a>
                </div>
              </div>
            </div>
          
            <div class="">
              <div class="">
                <h6 style="cursor: pointer" data-toggle="collapse" data-target="#collapseIonThree" class="img-fluid">News Aggregator</h6>
              </div>
              <div id="collapseIonThree" class="collapse" data-parent="#subAccordion3">
                <div class="card-body">
                  <p>Contract Evaluator</p>
                </div>
              </div>
            </div>
      
          </div>

        </div>
      </div>
    </div>
  
    <div class="">
      <div class="mb-2">
        <div class="row">
          <div class="col-12 d-none d-sm-block">
              <img src="assets/img/dev/unity2.png"  data-toggle="collapse" data-target="#collapseFour" class="img-fluid" style="cursor: pointer">
          </div>
          <div class="col-12 d-block d-sm-none">
              <img src="assets/img/dev/unity.png"  data-toggle="collapse" data-target="#collapseFour" class="img-fluid" style="cursor: pointer">
          </div>
        </div>
      </div>
      <div id="collapseFour" class="collapse" data-parent="#accordion">
        <div class="card-body">


          <div id="subAccordion4">

            <div class="">
              <div class="">
                <h6 style="cursor: pointer" data-toggle="collapse" data-target="#collapseUnityOne" class="img-fluid">The Tunnel</h6>
              </div>
              <div id="collapseUnityOne" class="collapse" data-parent="#subAccordion4">
                <div class="card-body">
                  <p>The Tunnel</p>
                </div>
              </div>
            </div>
          
            <div class="">
              <div class="">
                <h6 style="cursor: pointer" data-toggle="collapse" data-target="#collapseUnityTwo" class="img-fluid">The Island Of Magick</h6>
              </div>
              <div id="collapseUnityTwo" class="collapse" data-parent="#subAccordion4">
                <div class="card-body">
                  <p>The Island of Magick</p>
                </div>
              </div>
            </div>
          
            <div class="">
              <div class="">
                <h6 style="cursor: pointer" data-toggle="collapse" data-target="#collapseUnityThree" class="img-fluid">Apple Hill Kill</h6>
              </div>
              <div id="collapseUnityThree" class="collapse" data-parent="#subAccordion4">
                <div class="card-body">
                  <p>Apple Hill Kill</p>
                </div>
              </div>
            </div>
          
            <div class="">
              <div class="">
                <h6 style="cursor: pointer" data-toggle="collapse" data-target="#collapseUnityFour" class="img-fluid">Agent Amazement</h6>
              </div>
              <div id="collapseUnityFour" class="collapse" data-parent="#subAccordion4">
                <div class="card-body">
                  <p>Agent Amazement</p>
                </div>
              </div>
            </div>

            <div class="">
              <div class="">
                <h6 style="cursor: pointer" data-toggle="collapse" data-target="#collapseUnityFive" class="img-fluid">Piller Roller</h6>
              </div>
              <div id="collapseUnityFive" class="collapse" data-parent="#subAccordion4">
                <div class="card-body">
                  <p>Piller Roller</p>
                </div>
              </div>
            </div>
      
          </div>

        </div>
      </div>
    </div>

    <div class="">
        <div class="mb-2">
          <div class="row">
            <div class="col-12 d-none d-sm-block">
              <img src="assets/img/dev/other2.png"  data-toggle="collapse" data-target="#collapseFive" class="img-fluid" id="codeBanner">
            </div>
            <div class="col-12 d-block d-sm-none">
              <img src="assets/img/dev/other.png"  data-toggle="collapse" data-target="#collapseFive" class="img-fluid" id="codeBanner">
            </div>
          </div>
          
        </div>
        <div id="collapseFive" class="collapse" data-parent="#accordion">
          <div class="card-body">


            <div id="subAccordion5">

              <div class="">
                <div class="">
                  <h6 style="cursor: pointer" data-toggle="collapse" data-target="#collapseOtherOne" class="img-fluid">Taxi fare calculator (PHP, JavaScript)</h6>
                </div>
                <div id="collapseOtherOne" class="collapse" data-parent="#subAccordion5">
                  <div class="card-body">
                    <p>Taxi fare calculator (PHP, JavaScript)</p>
                  </div>
                </div>
              </div>
            
              <div class="">
                <div class="">
                  <h6 style="cursor: pointer" data-toggle="collapse" data-target="#collapseOtherTwo" class="img-fluid">Weather app (PHP, JavaScript)</h6>
                </div>
                <div id="collapseOtherTwo" class="collapse" data-parent="#subAccordion5">
                  <div class="card-body">
                    <p>Weather app (PHP, JavaScript)</p>
                  </div>
                </div>
              </div>
        
            </div>
    
          </div>
        </div>
      </div>
    
  </div>

</div>




