<div class="container" id="rightColumn">

  <div class="container" id="pageHeader">
    <h2>Code</h2>
  </div>

  <div id="accordion">

    <div class="">
      <div class="mb-2">
        <img src="assets/img/dev/angular2.png"  data-toggle="collapse" data-target="#collapseOne" class="img-fluid">
      </div>
      <div id="collapseOne" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <div class="iframe-container mb-1">
            

          </div>
        </div>
      </div>
    </div>
  
    <div class="">
      <div class="mb-2">
        <img src="assets/img/dev/nodejs.png"  data-toggle="collapse" data-target="#collapseTwo" class="img-fluid" id="codeBanner">
      </div>
      <div id="collapseTwo" class="collapse" data-parent="#accordion">
        <div class="card-body">
          

        </div>
      </div>
    </div>
  
    <div class="">
      <div class="mb-2">
        <img src="assets/img/dev/ionic2.png"  data-toggle="collapse" data-target="#collapseThree" class="img-fluid">
      </div>
      <div id="collapseThree" class="collapse" data-parent="#accordion">
        <div class="card-body">
          

        </div>
      </div>
    </div>
  
    <div class="">
      <div class="mb-2">
        <img src="assets/img/dev/unity.png"  data-toggle="collapse" data-target="#collapseFour" class="img-fluid">
      </div>
      <div id="collapseFour" class="collapse" data-parent="#accordion">
        <div class="card-body">
          
          
        </div>
      </div>
    </div>
    
  </div>

  

  <h5>Selected applications that I have programmed:</h5>

  <br>

  <div class="card mb-2" id="pointer">

    <h6 (click)="showPanel('angular')" class="pointer">Front-End with Angular:</h6>

    <div *ngIf="category =='angular'">
      <p>Personal portfolio site</p>
      <p>Currency Converter</p>
      <p>Debt Calculator</p>
      <p>Body Mass Index Calculator</p>
    </div>
      
  </div>

  <div class="card  mb-2" id="pointer">

    <h6 (click)="showPanel('node')">Back-End with Node.js:</h6>

    <div *ngIf="category =='node'">
      <p>User Data Manager (REST API)</p>
      <p>User access Manager</p>
      <p>Simple Blog Writer</p>
      <p>Movie data search engine (API)</p>
      <p>News Aggregator (RSS)</p>
      <p>Internship options notebook</p>
      <p>Pedometer data visualizer</p>
    </div>
      
  </div>

  <div class="card mb-2" id="pointer">

    <h6 (click)="showPanel('mobile')" class="pointer">Mobile (hybrid) with Ionic:</h6>

    <div *ngIf="category =='mobile'">
      <p>News aggregator (API)</p>
      <p>Weather app (API)</p>
    </div>   
  </div>
      

  <div class="card mb-2" id="pointer">

    <h6 (click)="showPanel('games')" class="pointer">Games with Unity3D and c#:</h6>

    <div *ngIf="category =='games'">
      <p>The tunnel</p>
      <p>The Island of Magick</p>
      <p>Apple Hill Kill</p>
      <p>Agent Amazement</p>
      <p>Piller Roller</p>
    </div>  
  </div>


  <div class="card mb-2"  id="pointer">

    <h6 (click)="showPanel('other')">Other:</h6>

    <div *ngIf="category =='other'">
      <p>Taxi fare calculator (PHP, JavaScript)</p>
      <p>Weather app (PHP, JavaScript)</p>
    </div>   
  </div>
      

     
  
  <!-- <div class="card">
    <a href="https://github.com/VillePajala" target="_blank">My Public GitHub</a>
  </div>

  <div class="card">
    <a href="https://github.com/ovipa017-xamk" target="_blank">My Private GitHub</a>
  </div> -->


</div>
