<div class="container" id="rightColumn">

    <div class="container" id="pageHeader">
      <h2>Games</h2>
    </div>

  <img src="assets/img/games/the_tunnel.png" class="img-fluid" id="music">

  <div class="iframe-container mb-1">
    <iframe src="https://www.youtube.com/embed/zJPK_2dke8A" 
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen></iframe> 
  </div>
  <div class="iframe-container">
    <iframe src="https://www.youtube.com/embed/MSvFKWTAOIo" 
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen></iframe>
  </div>
  <figcaption><i>"The tunnel"</i>, 3D <br> Download from <a href="https://villepajala.itch.io/the-tunnel">itch.io</a><br> 
    See in <a href="https://github.com/VillePajala/The-Tunnel">GitHub.</a>
  </figcaption>

  <img src="assets/img/games/agent_amazement.png" class="img-fluid" id="music">

  <div class="iframe-container">
    <iframe src="https://www.youtube.com/embed/HqZQuZfbOGk" 
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen></iframe>
  </div>
  <figcaption><i>"Agent Amazement"</i>, 2D <br> Play: <a href="https://villepajala.itch.io/agent-amazement-play-in-browser">itch.io</a><br> 
    See in <a href="https://github.com/VillePajala/Agent-Amazement">GitHub.</a>
  </figcaption>


</div>


