<div class="container" id="rightColumn">

  <div class="container" id="pageHeader">
    <h2>Games</h2>
  </div>


  <div id="accordion">

    <div class="">
      <div class="">
        <img src="assets/img/games/the_tunnel.png"  data-toggle="collapse" data-target="#collapseOne" class="img-fluid" id="music">
      </div>
      <div id="collapseOne" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <div class="iframe-container mb-1">
            <iframe src="https://www.youtube.com/embed/zJPK_2dke8A" loading="lazy"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe> 
          </div>
          <div class="iframe-container">
            <iframe src="https://www.youtube.com/embed/MSvFKWTAOIo" loading="lazy"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
          </div>
          <figcaption><span style="color: hotpink">"The tunnel"</span><br>3D Shooter
          </figcaption> 
          <a href="https://github.com/VillePajala/The-Tunnel" target="_blank">
            <button class="btn btn-info btn-sm mr-1">See in GitHub</button>
          </a>
          <a href="https://villepajala.itch.io/the-tunnel" target="_blank">
            <button class="btn btn-info btn-sm ml-1">Play in Itch.io</button>
          </a>
        </div>
      </div>
    </div>

    <div class="">
      <div class="">
        <img src="assets/img/games/iom2.png"  data-toggle="collapse" data-target="#collapseTwo" class="img-fluid" id="music">
      </div>
      <div id="collapseTwo" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <div class="iframe-container">
            <iframe src="https://www.youtube.com/embed/77Y0aqixfug" loading="lazy"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
          </div>
          <figcaption><span style="color: hotpink">"The Island of Magick"</span><br>3D Shooter
          </figcaption> 
          <a href="https://github.com/VillePajala/Island-of-Magick" target="_blank">
            <button class="btn btn-info btn-sm mr-1">See in GitHub</button>
          </a>
          <a href="https://villepajala.itch.io/the-island-of-magick" target="_blank">
            <button class="btn btn-info btn-sm ml-1">Play in Itch.io</button>
          </a>
        </div>
      </div>
    </div>

    <div class="">
      <div class="">
        <img src="assets/img/games/applehillkill.png"  data-toggle="collapse" data-target="#collapseThree" class="img-fluid" id="music">
      </div>
      <div id="collapseThree" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <div class="iframe-container">
            <iframe src="https://www.youtube.com/embed/4RdcjRlmqOU" loading="lazy"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
          </div>
          <figcaption><span style="color: hotpink">"Apple Hill Kill"</span><br>3D Game
          </figcaption> 
          <a href="https://github.com/VillePajala/aPPLE-hILL-kILL" target="_blank">
            <button class="btn btn-info btn-sm mr-1">See in GitHub</button>
          </a>
          <a href="https://villepajala.itch.io/apple-hill-kill" target="_blank">
            <button class="btn btn-info btn-sm ml-1">Play in Itch.io</button>
          </a>
        </div>
      </div>
    </div>

    <div class="">
      <div class="">
        <img src="assets/img/games/agent_amazement2.png"  data-toggle="collapse" data-target="#collapseFour" class="img-fluid" id="music">
      </div>
      <div id="collapseFour" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <div class="iframe-container">
            <iframe src="https://www.youtube.com/embed/HqZQuZfbOGk" loading="lazy"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
          </div>
          <figcaption><span style="color: hotpink">"Agent Amazement"</span><br>2D Adventure
          </figcaption> 
          <a href="https://github.com/VillePajala/Agent-Amazement" target="_blank">
            <button class="btn btn-info btn-sm mr-1">See in GitHub</button>
          </a>
          <a href="https://villepajala.itch.io/agent-amazement-play-in-browser" target="_blank">
            <button class="btn btn-info btn-sm ml-1">Play in Itch.io</button>
          </a>
        </div>
      </div>
    </div>
  
  </div>



