<div class="container" id="rightColumn">

  <div class="iframe-container">
    <iframe src="https://www.youtube.com/embed/zJPK_2dke8A" 
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen></iframe> 
  </div>

  <div class="iframe-container">
    <iframe src="https://www.youtube.com/embed/MSvFKWTAOIo" 
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen></iframe>
  </div>
</div>