<div class="container" id="rightColumn">

    <div class="container" id="pageHeader">
      <h2>Graphic Design</h2>
    </div>

  <img src="assets/img/design/saisinko_lisaa.jpg" loading="lazy" (click)="zoom()" style="transform: '{{ scale }}'" class="img-fluid" id="art">
  <figcaption>Graphic- and layout design for the book<br>
    <span style="color: hotpink">Saisinko Lisää? -Maistuvampaa yhdessä kokaten</span><br>Satoribooks 2017</figcaption>
  <a href="https://satoribooks.fi/kauppa/saisinko-lisaa-maistuvampaa-yhdessa-kokaten/" target="_blank">
    <button class="btn btn-info btn-sm">Read more</button>
  </a><br><br>

  <img src="assets/img/design/mun_stadi.jpg" loading="lazy" class="img-fluid" id="art">
  <figcaption>Graphic- and layout design for the book <br><span style="color: hotpink">Mun Stadi</span><br>
    Siirtolaisuusinstitutti 2015</figcaption>
  <a href="http://kauppa.siirtolaisuusinstituutti.fi/product/125/mun-stadi" target="_blank">
    <button class="btn btn-info btn-sm">Read more</button>
  </a><br><br>

  <img src="assets/img/design/albumdesign.jpg" loading="lazy" class="img-fluid" id="art">
  <figcaption>Album cover design for <span style="color: hotpink">Vitus Castor</span></figcaption>

  <!-- <img src="assets/img/design/ferokhnumen.jpg" class="img-fluid" id="art">
  <figcaption>Ferokh Numen, 2015</figcaption> -->

</div>
