<div class="container" id="rightColumn">

  <!-- <img src="assets/img/drawings/header.jpg" class="img-fluid" id="music"> -->

  <img src="assets/img/design/saisinko_lisaa.jpg" (click)="zoom()" style="transform: '{{ scale }}'" class="img-fluid" id="art">
  <figcaption>Saisinko Lisää? -taitto, Satoribooks 2017</figcaption>

  <img src="assets/img/design/mun_stadi.jpg" class="img-fluid" id="art">
  <figcaption>Mun Stadi -taitto, 2015</figcaption>

  <img src="assets/img/design/albumdesign.jpg" class="img-fluid" id="art">
  <figcaption>Mun Stadi -taitto, 2015</figcaption>

  
</div>
