@import "~bootstrap/dist/css/bootstrap.min.css";
/* 
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Economica', sans-serif;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Saira', sans-serif;
font-family: 'Saira Semi Condensed', sans-serif;
*/

/* Content */
#frame {
    max-width: 960px;
}
#mainHeader {
    text-align: center;
    margin: auto;
    padding: 30px;
}
#rightColumn {
    min-height: 1200px;
    max-width: 500px;
    margin: auto;
    text-align: center;
    animation-name: drop;
  animation-duration: 1s;
}
#leftColumn {
    transform: translate(20px);
}
#bodytext {
    max-width: 500px;  
    text-align: justify;
    margin-top: 20px;
}
#cvcard {
    padding: 20px;
    text-align: left;
    box-shadow: 0 2px 10px rgb(238, 237, 237);
}
#pageHeader {
    padding: 15px 0;
    margin-bottom: 10px;
    /* height: 90px; */
    max-width: 500px;
    /* border-bottom: 1px solid silver; */
}
#siteHeader {
    /* box-shadow: 0 1px 10px silver; */
    text-align: center;
    margin: auto;
    padding: 30px;
    color: black;
    font-size: 50px;
    height: 105px;
    border-bottom: 1px solid rgb(233, 233, 233);
}
#introText {
    padding: 15px 30px;
    text-align: center;
    margin: auto;
    margin-bottom: 25px;
    max-width: 500px;
}
#socialMediaButton {
    text-align: center;
    padding-left: 10px;
    font-size: 15px; 
    color: gray;
}
#activePageIcon {
    text-align: left;
    padding-left: 10px;
    font-size: 13px; 
    color: silver;
    transform: translate(-20px,0px);
}
#info {
    width: 800px;
    text-align: left;
    float: left;
}


/* Nav */

/* Links */
a h6{
    color:gray;
    text-decoration: none;
    transition: 4s;
}
a h6:hover{
    padding: 8px 20px;
    color:black;
    background-color: rgb(245, 245, 245);
    text-decoration: none;
    transition: 0.5s;
}
a h1 {
    text-decoration: none;
}
a {
    color:gray;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color:black;
    
}

/* Headers */
h1 {
    font-family: 'Julius Sans One', sans-serif;
}
h2 {
    padding: none;
    font-size: 30px;
    font-family: 'Julius Sans One', sans-serif;
}
h3 {
    font-size: 20px;
    font-family: 'Julius Sans One', sans-serif;
}
h4 {
    font-family: 'Julius Sans One', sans-serif;
}
p {
    font-family: 'Julius Sans One', sans-serif;
}
h5 {
    padding: 10px 0;
    font-family: 'Julius Sans One', sans-serif;
}
h6 {
    padding: 8px;
    font-family: 'Julius Sans One', sans-serif;
}
figcaption {
    font-size: 13px;
    font-family: 'Julius Sans One', sans-serif;
    padding-bottom: 20px;
}

/* Images */
#profilepic {
    padding: 5px 0px;
}

#art {
    width: 500px;
    padding: 5px 0;
}
#music {
    cursor: pointer;
    width: 100%;
    padding: 5px 0;
}
#codeBanner {
    cursor: pointer;
    width: 100%;
    
    border: 1px solid silver;
}
#pointer {
    cursor: pointer;
    box-shadow: 0 0 0 silver;
    transition: 0.5s;
}
#pointer:hover { 
    box-shadow: 0 2px 5px silver;
    transition: 0.5s;
}


/* Video Content */

.iframe-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}

.iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}


/* Animations */

@keyframes drop {
    0%   {transform: translate( 0px, 800px); opacity: 0;}
    100% {transform: translate( 0px, 0px); opacity: 1;}
}



/* RWD */


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 576px) {
    #rightColumn {
        padding-top: 15px;
        margin-top: 5px;
    }
    h2 {

    }
 
}
  
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) {
    #rightColumn {
        padding-top: 15px;
        margin-top: 0;
    }
    #profilepic {
        
    }
    
}
  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    #rightColumn {
        padding-top: 20px;
        margin-top: 10px;
    }
    #profilepic {
        padding: 20px 30px;
    }

}

  
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
    #profilepic {
        padding: 30px 80px;
    }

}
  
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    #profilepic {
        padding: 30px 80px;
    }

}

