@import "~bootstrap/dist/css/bootstrap.min.css";
/* 
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Economica', sans-serif;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Saira', sans-serif;
font-family: 'Saira Semi Condensed', sans-serif;
*/
/* Content */
#rightColumn {
    /* background: silver; */
    min-height: 800px;
}
#leftColumn {
    
}

/* Nav */
/* change the background color */
.navbar-dark {
    background-color: #ff5500;
}
/* change the brand and text color */
.navbar-dark .navbar-brand,
.navbar-dark .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-dark .nav-item.active .nav-link,
.navbar-dark .nav-item:focus .nav-link,
.navbar-dark .nav-item:hover .nav-link {
        color: #ffffff;
}

/* Links */
a {
    color:gray;
}
a h1 {
    color: black;
}
a:hover {
    text-decoration: none;
    color:black;
}

/* Headers */
h1 {
    font-family: 'Julius Sans One', sans-serif;
}
h3 {
    font-size: 21px;
    font-family: 'Julius Sans One', sans-serif;
}
h6 {

    font-family: 'Saira', sans-serif;
}

/* Images */
#profilepic {
    padding: 40px;
    -webkit-filter: drop-shadow(0px 2px 5px silver);
    filter:         drop-shadow(0px 2px 15px silver);
}




/* RWD */


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 576px) {
 
 
}
  
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) {

    #profilepic {
        
    }
    
}
  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    
    
}

  
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
    #profilepic {
        padding: 50px 100px;
    }

}
  
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    #profilepic {
        padding: 50px 150px;
    }

 
}

