<div class="container" id="rightColumn">
    <div class="container" id="pageHeader">
        <h2>Music</h2>
    </div>
  <img src="assets/img/music/vituscastorheader.jpg" class="img-fluid mb-2" id="music">

  <div class="iframe-container mb-4">
      <iframe src="https://www.youtube.com/embed/Vpbx69_Rjm0" 
      frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen></iframe> 
      
  </div>
  

  <iframe style="border: 0; width: 70%; height: 600px;" src="https://bandcamp.com/EmbeddedPlayer/album=3536312969/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://vituscastor.bandcamp.com/album/the-exile">The Exile by Vitus Castor</a></iframe>

  <div class="container" id="bodytext">
    <p>I produce electronic music as Vitus Castor. I've been composing more or less
      from 2006 and released one album but more than desirign to be a musician, I'venjoyed more
      of the production side of music. I love programming digital instruments and effects,
      the mixing of songs. You could say that I'm more of a sound engineer, fascinated by
      the physics and feel of audio. Project Vitus Castor has been laid to the background lately,
      but sooner or later I'll most certainly get back to my beloved Ableton Live 10.
    </p>
  </div>

</div>


vituscastorheader.jpg